.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin2 .7s infinite linear;
    -o-animation: spin2 .7s infinite linear;
    animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from { -moz-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            -o-transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);
          -ms-transform: scale(1) rotate(360deg);
          -o-transform: scale(1) rotate(360deg);
          -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);}
}



@-moz-keyframes spin {
    from { -moz-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            -o-transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);
          -ms-transform: scale(1) rotate(360deg);
          -o-transform: scale(1) rotate(360deg);
          -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);}
}

@-ms-keyframes spin {
    from { -moz-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            -o-transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);
          -ms-transform: scale(1) rotate(360deg);
          -o-transform: scale(1) rotate(360deg);
          -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);}
}

@keyframes spin {
    from { -moz-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            -o-transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);
          -ms-transform: scale(1) rotate(360deg);
          -o-transform: scale(1) rotate(360deg);
          -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);}
}

.jumbotron h1,p {
    color:chocolate;
}

#epl p{
    display:none;
}

#epl:hover{
    visibility:visible;
}

#teamsID p {
    display:none;
}

#teamsID:hover p{
    visibility:visible;
    opacity:1;
}

#teamsID{
    /**/padding: 0px 50px 50px 50px;
    margin:0px 50px 50px 50px;
}

.col-md-3{
    margin-bottom:20px;
}

#teamsID:hover .arsenalID{
    display:inline;
  opacity: 1;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('ajax-loader.gif') 50% 50% no-repeat;
    background-color:#fff;
}

#registerTable {
    border:3px; 
    border-style:outset;
    border-color:#ff6a00; 
    width: 50%;
    margin:1em auto;  
    padding:10px 15px;
    font-size: 14px;

}

.txtBox{
    background-color:#2b3e50;
    opacity:0.6;
    color:#ff6a00;
    font-weight: 900;
}

.btnSignUp{
    background-color:#1aaa21;
    color:white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#laLigaBanner{
    background:url(Banner_Images/laLigaBanner.jpg) no-repeat content-box;
}

#eplBanner{
    background:url(Banner_Images/EPL_Banner.jpg) no-repeat;
}